{% block footer %}
<footer class="pb-4 max-w-prose w-full mx-auto">
  <h2 class="text-3xl font-redaction uppercase tracking-wide text-center my-4">Hello</h2>
  <p class="mb-4">I&rsquo;m {{ site.author.name }}, a human, a freshman, and a full-stack web developer. When I'm not learning cybersecurity, I respond to people through the details below.</p>
  <address class="font-dmmono text-sm not-italic">
    &#128231; <a target="_blank" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a><br/>
    <a target="_blank" href="{{ site.author.discord }}">Discord</a>
    <a target="_blank" href="https://netsectap.com/professors" class="decoration-transparent">#netsectap</a>  
  </address>
  <hr class="my-4 mx-auto w-12 border-current">
  <p class="text-center">LA&#8203;3&#8203;22&#8203;23
</footer>
{% endblock %}