{% block footer %}
{# <footer class="py-4">
    <nav>
        {# <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Archive</li>
        </ul> 
    </nav>
</footer> #}
{% endblock %}