<!DOCTYPE html>
<html lang="en">
  {% include "c-head.njk" %}
  <body class="antialiased font-atkinson bg-parchment text-zinc-900">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>
