---
layout: base
---
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
{% endblock %}

<div class="container p-8 mx-auto flex flex-col justify-between min-h-screen">
    <main class="text-lg font-atkinson">
        <article class="max-w-prose post">
            <header class="mb-4">
                <nav class="mb-4 text-amber-900 text-base font-dmmono"><a href="/" class="font-dmmono font-medium decoration-transparent px-2 py-1 border-b border-current">&larr; Home</a>
                <div class="progressbar"></div>
                <script>
                    document.addEventListener('scroll', function() {
                        var $doc = document.documentElement, 
                            $body = document.body,
                            scrollTop = $doc['scrollTop'] || $body['scrollTop'],
                            scrollBottom = ($doc['scrollHeight'] || $body['scrollHeight']) - window.innerHeight,
                            scrollRatio = scrollTop / scrollBottom;                    
                        document.querySelector(".progressbar").style.setProperty("--scrollAmount", scrollRatio); 
                    });
                </script>
                </nav>
                <div class="text-base font-dmmono mb-4">
                    Published <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> <br>
                </div>
                <h1 class="text-4xl md:text-5xl font-redaction20 text-center my-8 leading-tight">{{ title }}</h1>
            </header>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
            <footer>
                <small class="text-base font-dmmono">
                    {% for tag in tags %}
                        {% if not tag in ["post"] %}
                        #{{ tag }}
                        {%endif%}
                    {% endfor %}
                </small>
            </footer>
        </article>
    </main>
    {% include "c-footer.njk" %}
</div>