---
layout: base
---
<div class="container p-8 mx-auto flex flex-col justify-between min-h-screen">
    <main class="text-lg font-redaction">
        <article class="max-w-prose post">
            <header class="mb-4">
                <nav class="mb-4 text-amber-900 text-base font-tte"><a href="/">&larr; Home</a>
                <div class="progressbar"></div>
                <script>
                    document.addEventListener('scroll', function() {
                        var $doc = document.documentElement, 
                            $body = document.body,
                            scrollTop = $doc['scrollTop'] || $body['scrollTop'],
                            scrollBottom = ($doc['scrollHeight'] || $body['scrollHeight']) - window.innerHeight,
                            scrollRatio = scrollTop / scrollBottom;                    
                        document.querySelector(".progressbar").style.setProperty("--scrollAmount", scrollRatio); 
                    });
                </script>
                </nav>
                <h1 class="text-4xl font-apfel font-bold mb-2">{{ title }}</h1>
                <small class="text-base font-tte">
                    Published <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> <br>
                </small>
            </header>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
            <footer>
                <small class="text-base font-tte">
                    {% for tag in tags %}
                        {% if not tag in ["post"] %}
                        #{{ tag }}
                        {%endif%}
                    {% endfor %}
                </small>
            </footer>
        </article>
    </main>
    {% include "c-footer.njk" %}
</div>