
@font-face {
  font-family: "Redaction";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Redaction-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Redaction-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Redaction-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Redaction70";
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Redaction_70-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction70";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Redaction_70-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction70";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/Redaction_70-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Redaction20";
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Redaction_20-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction20";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Redaction_20-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Redaction20";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/Redaction_20-Bold.woff2") format("woff2");
}


@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/atkinson-hyperlegible-v9-latin-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/atkinson-hyperlegible-v9-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/atkinson-hyperlegible-v9-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "DM Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/dm-mono-v10-latin-italic.woff2") format("woff2");
}
@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/dm-mono-v10-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/dm-mono-v10-latin-700.woff2") format("woff2");
}
