---
title: Trial & Error
description: How great things happen
layout: page
pagination:
  data: collections.post
  alias: posts
  size: 10
---
<header class="mb-8 text-center">
  <h1 class="text-6xl font-bold font-redaction20 hover:font-redaction70">{{ title or site.title }}</h1>
  <p class="font-atkinson">{{ description or site.tagline }}</p>
</header>

<main class="max-w-prose mx-auto">
<section class="mb-6">
  <h2 class="text-3xl font-redaction uppercase tracking-wide text-center my-4">Posts</h2>
  <ul>
    {% for post in posts | reverse %}
      <li class="pb-4">
        <article class="font-atkinson max-w-prose">
          <h3 class="text-3xl md:text-5xl leading-tight my-4 font-redaction20"><a href="{{ post.url | url}}" class="unstyled hover:underline decoration-1">{{ post.data.title }}</a></h3>
          <p class="leading-normal">
            {{ post | excerpt | safe }}
          </p>
          <div class="mt-2 flex justify-between text-amber-900"><a href="{{ post.url | url}}"  class="font-dmmono font-medium decoration-transparent px-2 py-1 border-b border-current">Read &rarr;</a> <div><time datetime="{{ post.date | htmlDateString }}" class="font-dmmono text-sm">{{ post.date | readableDate }}</time></div></div>
        </article>
      </li>
    {% endfor %}
  </ul>
</section>

</main>
{% block footer %}
<footer class="pb-4 max-w-prose w-full mx-auto">
  <h2 class="text-3xl font-redaction uppercase tracking-wide text-center my-4">Hello</h2>
  <p class="mb-4">I&rsquo;m Elijah Mendoza, a human, a freshman, and a full-stack web developer. When I'm not learning cybersecurity, I respond to people through the details below.</p>
  <address class="font-dmmono text-sm not-italic">
    &#128231; <a target="_blank" href="mailto:hi%40elijahmendoza.nom.za">hi&commat;elijahmendoza.nom.za</a><br/>
    <a target="_blank" href="https://discord.com/users/992410448404160592">Discord</a>
    <a target="_blank" href="https://netsectap.com/professors" class="decoration-transparent">#netsectap</a>  
  </address>
  <hr class="my-4 mx-auto w-12 border-current">
  <p class="text-center">LA&#8203;3&#8203;22&#8203;23
</footer>
{% endblock %}