---
title: Trial & Error
description: Ruminations of a cybersecurity student
layout: page
pagination:
  data: collections.post
  alias: posts
  size: 2
---

<header class="mb-8">
  <h1 class="text-6xl font-bold font-apfel">{{ title if title else site.title }}</h1>
  <p>{{ site.tagline }}</p>
</header>


<section class="mb-6">
  <h2 class="text-3xl font-apfel uppercase tracking-wide font-bold mb-2">Posts</h2>
  <ul>
    {% for post in posts %}
      <li class="pb-4">
        <article class="font-redaction max-w-prose">
          <h3 class="text-2xl font-bold">{{ post.data.title }}</h3>
          <time datetime="{{ post.date | htmlDateString }}" class="font-tte text-sm">{{ post.date | readableDate }}</time>
          {%- if post.data.page.excerpt -%}
              <p>{{ post.data.page.excerpt | toHTML | safe }}</p>
          {%- endif -%}
          <div class="font-tte"><a href="{{ post.url | url}}" class="font-bold decoration-transparent">Read &rarr;</a></div>
        </article>
      </li>
    {% endfor %}
  </ul>
</section>

{% block footer %}
<footer class="py-4">
  <h2 class="text-3xl font-apfel uppercase tracking-wide font-bold mb-2">Hello</h2>
  <p class="mb-4">I&rsquo;m Elijah Mendoza, a freshman and full-stack web developer learning cybersecurity.</p>
  <address class="font-tte text-sm not-italic">
    &#128231; <a target="_blank" href="mailto:hi%40elijahmendoza.nom.za">hi&commat;elijahmendoza.nom.za</a><br/>
    <a target="_blank" href="https://netsectap.com/professors" class="decoration-transparent">#netsectap</a>  
  </address>
</footer>
{% endblock %}